body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #70afaf;
}

nav {
    width: 100%;
    background-color: #70afaf;
    padding: 10px;
    color: white;
    text-align: left;
}

.logo img {

    height: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #76adad;
    width: 100%;
    margin-top: 20px;
    text-align: center;

}

.input-section, .output-section {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(44, 44, 44, 0.1);
}

.input-section {
    flex: 1;
    margin-right: 20px;
}

.input-section label {
    display: block;
    margin-bottom: 10px;
}

.input-section input {
    width: 100%;
    padding: 200px 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.input-section button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.output-section {
    flex: 1;
    text-align: center;
}

.output-section p {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.criptografado {
    color: black;
}

.descriptografado {
    color: blue;
}

#copiar {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}